@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* vertical-align: baseline; */
  font-weight: inherit;
  font-family: "Poppins", "sans-serif";
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background-color: #1c3139;
  color: aliceblue;
  scroll-behavior: smooth;
}

body {
  background-color: #1c3139;
}

/* Splash Page Animation */
.anim {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vw;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
  80% {
    letter-spacing: 4px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

/* End of animation Style */
.transition500 {
  @apply transition duration-500 ease-in-out;
}

.section_name {
  @apply text-xl tablet:text-4xl font-bold h-12 bg-no-repeat bg-center pt-6 tablet:p-10;
}

.btn-btn {
  @apply transition duration-500 ease-in-out mt-4 px-3 py-2 border border-brand border-solid rounded-lg hover:bg-brand;
}

.skills_icons {
  @apply bg-brand-languages w-12 h-12 rounded-md grid items-center shadow-md p-2 
  cursor-pointer animate-pulse
  /* desktop:w-20 desktop:h-20; */;
}

.tool_icons {
  @apply w-9 h-auto tablet:w-12 hover:scale-125 transition500;
}

.tools_name {
  @apply text-sm text-center laptop:text-sm laptop:text-center desktop:text-base mt-2;
}

.work_title {
  @apply text-lg font-bold leading-6 mb-3 mt-3 tablet:mt-0 laptop:text-2xl;
}

.lang_used {
  @apply p-1 rounded bg-brand-lang_bg smallPhone:text-xs tablet:text-sm;
}

.inputContact {
  @apply p-2 rounded border-2 border-brand-stroke border-solid max-w-max;
}

.socialIcons {
  @apply w-6 h-6 cursor-pointer hover:scale-150 transition duration-500 ease-in-out;
}
